<ion-view view-title="成绩预览">
    <ion-nav-buttons side="secondary">
        <button class="button button-stable icon ion-funnel" ng-click="showPopup()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in items" ng-click="detail(item);">
                <div class="row" style="padding:0px;">
                    <div class="col col-25"><p>{{item.subjectCode}}</p></div>
                    <div class="col"><p>{{item.subjectContent}}</p></div>
                    <div class="col col-10"><p>{{item.socre}}</p></div>
                </div>
                <!--<ion-option-button class="button-stable" ng-click="detail(item)">详细</ion-option-button>-->
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"></ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
